* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.head {
    color: white;
    padding: 15px;
}

.nav {
    color: rgb(228, 232, 236);
    display: flex;
    justify-content: space-between;
    background-color:#212529;
    ;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
}

ul {
    display: flex;
    gap: 20px;
    padding: 15px;

}

.parent{
        display: flex;
        align-items: center;
        background-color: #DEE2E6;
        /* justify-content: space-between; */
        padding-left: 100px;
        padding-right: 100px;
        height: 100vh;
        gap: 60px;
        flex-direction: column;
}
.child2{
    display: flex;
}
.box2{
    width: 33%;
    border: 1px rgb(255, 249,249);
    box-shadow: 4px 4px 4px rgba(0, 0,0,0.8);
    padding: 12px;
    display: inline-block;
    margin-right: 10px;
    background-color: #212529;
    color: white;
}
h1{
    margin-top: 20px;
}